{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Role</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Rolename</th>
                <td>{{ entity.roleName }}</td>
            </tr>
            <tr>
                <th>Rolepriority</th>
                <td>{{ entity.rolePriority }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('role') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('role_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
